.jumbotron {
    background-image: url("/assets/img/burgerjoint.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.jumbotron > h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-family: 'Creepster', cursive; */
}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: rgb(255, 255, 255);
}

#lefthead {
    background-color: #2b0cdb;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: #83070d;
    color: white;
    text-align: center;
    font-size: 1.2em;
}